
work/

prepare/data/

analyze/analysis/

analyze/rdf2xls-app.log

analyze/shacl-play-app.log

data/

/isidore_referentiels/__pycache__/
/isidore_referentiels/Clean/__pycache__
/isidore_referentiels/clean/__pycache__
/isidore_referentiels/download/__pycache__
/isidore_referentiels/clean/__pycache__

output/

data.bak/

logs/

analyze/analysis-apres-traitement/

analyze/analysis-avant-traitement/

isidore_referentiels/process/__pycache__/

isidore_referentiels/Referentiel_Information/__pycache__/
